@import url('https://fonts.googleapis.com/css2family=Dancing+Script&family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Montserrat',sans-serif;
    font-size: 17px;  
}

main {
    min-height: 100vh;
}

header {
    background: #2d4057;
    possition: fixed;
    width: 100%;
    top: 0;
    padding: 10px 15px 5px 15px;
}

navbar {
    margin-left: 30px;
    margin-bottom: 10px;
    display: inline-block;
    overflow: auto;
}

navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}

navbar a:hover {
    color: white;
    text-decoration: underline 1px;
}

footer {
    min-height: 80px;
    background: #2d4057;
    text-align: center;
    color: white;
    padding-top: 35px;
}

p {
    line-height: 150%;
    text-indent: 30px;
}

li {
    margin-top: 10px;
    padding-left: 15px;
    list-style-image: linear-gradient(#fa9483,#fa9483);
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
   font-family: 'Dancing Script',cursive; 
}

h1 {
    font-size: 270%;
}

h2 {
    font-size: 200%;
}

section {
    padding:90px 15%;
}


.logo{
    height: 50px;
}

#index {
    background:  linear-gradient(#2827277e,#2a2a2a6d)  , url('../images/index.jpg');
    background-size: cover;
    min-height: 100vh;
}

.index-info {
    margin-top: 25vh;
    text-align: center;
}

.index-info h1 {
    font-size: 300%;
    color: white;
    border: 2px solid rgb(255, 230, 210);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: #2d405792;
}

.link-index {
    color: white;
    text-decoration: underline #fa9483 2px;
    font-size: 20px;
}

.link-index:hover {
    color: #f3deca;
}

.centered {
    text-align: center;
}

.vframe {
    width: 100%;
    height: 30vw;
    border: 2px solid #6a1f12;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

.loc {
    overflow: auto;
    border-bottom: 3px #fbbeff dashed;
    margin-bottom: 10px;
}

.loc img {
    height: 18vh;
    width: 18vh;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.harta {
    width: 100%;
    height: 40vh;
}

.row {
    overflow: auto;
}

.col-50 {
    width: 50%;
    float: left;
    padding: 0px 10px;
}

.contacte, .cform {
    border: 2px solid #ffbecd;
    border-radius: 5px;
    background-color: #ffbecd63;
    padding: 5px 5%;
    height: 325px;
}


.cform input, .cform textarea {
    width: 100%;
    font-size: 15px;
    font-family: inherit;
    margin-bottom: 10px;
    padding: 4px 6px;
}

#hamburger {
    color: white;
    font-size: 28px;
    position: absolute;
    right: 22px;
    top: 24px;
    cursor: pointer;
    display: none;
}


/* media trebuie sa fie la sfirsitul fisireului */

@media (max-width: 800px) {

    section {
        padding: 90px 10px;
    }

    .index-info h1 {
        font-size: 250%;
    }

    navbar a {
        display: none;
    }

    navbar.mobile a {
        display: block;
        text-align: center;
        margin-top: 12px;
    }

    navbar {
        display: block;
    }

    #hamburger {
        display: block;
    }
}